.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 70px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 13px;
    font-weight: 500;
    gap: 75px;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quanity{
    width: 64px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total-icon{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #333232;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    border-radius: 25px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 330px;
    height: 50px;
    background: transparent;
}
.cartitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background: black;
}

@media (max-width:1050px){
    .cartitems{
        width: 137%;
        height: auto;
        margin-left: 0px;
    }
    .cartitems-format-main{
        gap: 45px;
        margin-left: 70px;
        font-size: 22px;
        font-weight: 600;
    }
    .cartitems hr{
        height: 4px;
        width: 93%;
        margin-left: 50px;
    }
    .cartitems-total{
        margin-left: 70px;
        gap: 40px;
    }
    .cartitems-total h1{
        font-size: 22px;
    }
    .cartitems-total-item p{
        font-size: 20px;
    }
    .cartitems-total hr{
        height: 4px;
        width: 570px;
        margin-left: 0px;
    }
    .cartitems-total button{
        width: 272px;
        height: 60px;
        font-size: 17px;
    }
    .cartitems-promocode p{
        font-size: 18px;
    }
    .cartitems-promocode{
        margin-top: 90px;
        margin-left: -30px;
    }
}


@media (max-width:900px){
    .cartitems{
        width: 137%;
        height: auto;
        margin-left: 0px;
    }
    .cartitems-format-main{
        gap: 35px;
        margin-left: 70px;
        font-size: 18px;
        font-weight: 600;
    }
    .cartitems hr{
        height: 4px;
        width: 93%;
        margin-left: 50px;
    }
    .cartitems-total{
        margin-left: 70px;
        gap: 40px;
    }
    .cartitems-total h1{
        font-size: 20px;
    }
    .cartitems-total-item p{
        font-size: 18px;
    }
    .cartitems-total hr{
        height: 4px;
        width: 570px;
        margin-left: 0px;
    }
    .cartitems-total button{
        width: 200px;
        height: 40px;
        font-size: 13px;
    }
    .cartitems-promocode p{
        font-size: 13px;
    }
    .cartitems-promocode{
        margin-top: 90px;
        margin-left: -110px;
    }
    .cartitems-promobox button{
         width: 106px;
         height: 50px;
         font-size: 13px;
    }
    .cartitems-promobox p{
        font-size: 13px;
        width: 200px;
    }
    .cartitems-promobox{
        width: 440px;
        height: 50px;
    }
}   



@media (max-width:412px){
    .cartitems{
        width: 269%;
        height: auto;
        margin-left: 0px;
    }
    .cartitems-format-main{
        gap: 35px;
        margin-left: 70px;
        font-size: 17px;
        font-weight: 600;
    }
    .cartitems hr{
        height: 4px;
        width: 87%;
        margin-left: 70px;
    }
    .cartitems-total{
        margin-left: 70px;
        gap: 30px;
    }
    .cartitems-total h1{
        font-size: 20px;
    }
    .cartitems-total-item p{
        font-size: 17px;
    }
    .cartitems-total hr{
        height: 4px;
        width: 465px;
        margin-left: 0px;
    }
    .cartitems-total button{
        width: 180px;
        height: 35px;
        font-size: 13px;
    }
    .cartitems-promocode p{
        font-size: 13px;
    }
    .cartitems-promocode{
        margin-top: 90px;
        margin-left: -110px;
    }
    .cartitems-promobox button{
         width: 150px;
         margin-left: -10px;
         margin-top: 10px;
         height: 50px;
         font-size: 13px;
    }
    .cartitems-promobox p{
        font-size: 13px;
        width: 200px;
    }
    .cartitems-promobox{
        width: 350px;
        height: 50px;
    }
}   
