.hero{
    height: 70vh;
    background: linear-gradient(180deg,#6ff1f1,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 200px;
    margin-top: 380px;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
   color: #171717;
   font-size: 70px;
   font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 80px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 280px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    height: 120vh;
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


@media (max-width:1050px){
    .hero{
        width: 136.9%;
        height: 67vh;
    }
    .hero-left{
            gap: 3px;
            padding-left: 170px;
            margin-top: -950px;
    }
    .hero-left h2{
        font-size: 40px;
    }
    .hero-left p{
        font-size: 35px;
    }
    .hero-hand-icon img{
         width: 50px;
    }
    .hero-latest-btn{
        gap: 15px;
        width: 250px;
        height: 50px;
        border-radius: 75px;
        margin-top: 20px;
        font-size: 23px;
        font-weight: 500;
    }
    .hero-right img{
         width: 480px;
         height: 600px;
         margin-top: -50px;
    }
}


@media (max-width:900px){
    .hero{
        width: 137.5%;
        height: 67vh;
    }
    .hero-left{
            gap: 3px;
            padding-left: 170px;
            margin-top: -950px;
    }
    .hero-left h2{
        font-size: 35px;
    }
    .hero-left p{
        font-size: 30px;
    }
    .hero-hand-icon img{
         width: 50px;
    }
    .hero-latest-btn{
        gap: 15px;
        width: 250px;
        height: 50px;
        border-radius: 75px;
        margin-top: 20px;
        font-size: 23px;
        font-weight: 500;
    }
    .hero-right img{
         width: 480px;
         height: 600px;
         margin-top: -50px;
    }
}


@media (max-width:750px){
    .hero{
        width: 165.3%;
        height: 40vh;
    }
    .hero-left{
         gap: 3px;
         padding-left: 170px;
         margin-top: 190px;
    }
    .hero-left h2{
        font-size: 30px;
    }
    .hero-left p{
        font-size: 26px;
    }
    .hero-hand-icon img{
         width: 35px;
    }
    .hero-latest-btn{
        gap: 15px;
        width: 220px;
        height: 35px;
        border-radius: 75px;
        margin-top: 20px;
        font-size: 19px;
        font-weight: 500;
    }
    .hero-right img{
         width: 400px;
         height: 500px;
         margin-top: -10px;
    }
}


@media (max-width:412px){
    .hero{
        width: 269.7%;
        height: 55vh;
    }
    .hero-left{
         gap: 3px;
         padding-left: 200px;
         margin-top: 0px;
    }
    .hero-left h2{
        font-size: 24px;
    }
    .hero-left p{
        font-size: 20px;
    }
    .hero-hand-icon img{
         width: 30px;
    }
    .hero-latest-btn{
        gap: 15px;
        width: 200px;
        height: 30px;
        border-radius: 75px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
    }
    .hero-right img{
         width: 300px;
         height: 400px;
         margin-top: -10px;
         margin-left: -130px;
    }
}