.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;
    gap: 20px;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    height: 35px;
    border: 1px solid #f90404;
    border-radius: 0px 50px;
}
.descriptionbox-nav-box.fade{
    background: #b7797956;
    color: #090808;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    border: 1px solid #f20b0b;
    border-radius: 100px 0px;
    padding: 48px;
    padding-bottom: 70px;
}


@media (max-width:1050px){
    .descriptionbox{
        width: 400px;
        height: 40vh;
    }
    .descriptionbox-navigator{
         margin-top: -90px;
         margin-left: 40px;
    }
    .descriptionbox-nav-box{
        font-size: 20px;
        height: 50px;
        width: 180px;
    }
    .descriptionbox-description{
        margin-left: -5px;
        margin-top: 30px;
        width: 1000px;
        height: 230px;
    }
    .descriptionbox-description p{
        font-size: 18px;
        margin-left: 20px;
        margin-top: -5px;
        width: 990px;
    }
}


@media (max-width:900px){
    .descriptionbox{
        width: 300px;
        height: 40vh;
    }
    .descriptionbox-navigator{
         margin-top: -190px;
         margin-left: 0px;
    }
    .descriptionbox-nav-box{
        font-size: 16px;
        height: 40px;
        width: 150px;
    }
    .descriptionbox-description{
        margin-left: -50px;
        margin-top: 30px;
        width: 900px;
        height: 200px;
    }
    .descriptionbox-description p{
        font-size: 15px;
        margin-left: 20px;
        margin-top: -5px;
        width: 880px;
    }
}


@media (max-width:750px){
    .descriptionbox{
        width: 300px;
        height: 40vh;
    }
    .descriptionbox-navigator{
         margin-top: -290px;
         margin-left: 0px;
    }
    .descriptionbox-nav-box{
        font-size: 12px;
        height: 30px;
        width: 100px;
    }
    .descriptionbox-description{
        margin-left: -50px;
        margin-top: 30px;
        width: 900px;
        height: 140px;
    }
    .descriptionbox-description p{
        font-size: 13px;
        margin-left: 20px;
        margin-top: -5px;
        width: 880px;
    }
}


@media (max-width:412px){
    .descriptionbox{
        width: 300px;
        height: 40vh;
    }
    .descriptionbox-navigator{
         margin-top: -290px;
         margin-left: 0px;
    }
    .descriptionbox-nav-box{
        font-size: 12px;
        height: 30px;
        width: 100px;
    }
    .descriptionbox-description{
        margin-left: -50px;
        margin-top: 30px;
        width: 750px;
        height: 140px;
    }
    .descriptionbox-description p{
        font-size: 13px;
        margin-left: 20px;
        margin-top: -5px;
        width: 730px;
    }
}