.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1aef;
    gap: 50px;
    padding-top: 50PX;
}
.footer-logo{
    background:  #8efcfc;
    border-radius: 0px 0px 150px 150px;
    margin-top: 100px;
    text-decoration: none;
}
.footer-logo img{
    width: 300px;
}
.footer-logo p{
    color: #ec1313;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
}
.footer-links li{
    color: #8efcfc; 
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #8efcfc;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

@media (max-width:1050px){
    .footer{
        width: 137%;
        height: 70vh;
        margin-top: -70px;
    }
    .footer-logo img{
        width: 250px;
        margin-left: 12px;
        margin-top: 13px;
    }
    .footer-logo{
        margin-top: 10px;
        width: 270px;
        height: 270px;
    }
    .footer-links{
        font-size: 30px;
        gap: 80px;
        margin-left: -30px;
    }
    .footer-icon-container img{
        width: 30px;
    }
    .footer-icon-container{
        border-radius: 25px;
        margin-top: -15px;
    }
    .footer-copyright hr{
        width: 80%;
        border: none;
        border-radius: 10px;
        height: 1px;
    }
    .footer-copyright{
        font-size: 25px;
        margin-top: -10px;
    }
}


@media (max-width:900px){
    .footer{
        width: 137.6%;
        height: 70vh;
        margin-top: -70px;
    }
    .footer-logo img{
        width: 230px;
        margin-left: 17px;
        margin-top: 13px;
    }
    .footer-logo{
        margin-top: 10px;
        width: 270px;
        height: 270px;
    }
    .footer-links{
        font-size: 25px;
        gap: 80px;
        margin-left: -30px;
    }
    .footer-icon-container img{
        width: 27px;
    }
    .footer-icon-container{
        border-radius: 25px;
        margin-top: -15px;
    }
    .footer-copyright hr{
        width: 60%;
        border: none;
        border-radius: 10px;
        height: 1px;
    }
    .footer-copyright{
        font-size: 22px;
        margin-top: -10px;
    }
}


@media (max-width:750px){
    .footer{
        width: 165.38%;
        height: 67vh;
        margin-top: -70px;
    }
    .footer-logo img{
        width: 200px;
        margin-left: 17px;
        margin-top: 13px;
    }
    .footer-logo{
        margin-top: -40px;
        width: 230px;
        height: 230px;
    }
    .footer-links{
        font-size: 20px;
        gap: 80px;
        margin-left: -30px;
    }
    .footer-icon-container img{
        width: 24px;
    }
    .footer-icon-container{
        border-radius: 25px;
        margin-top: 0px;
    }
    .footer-copyright hr{
        width: 50%;
        border: none;
        border-radius: 10px;
        height: 1px;
    }
    .footer-copyright{
        font-size: 19px;
        margin-top: -10px;
    }
}



@media (max-width:412px){
    .footer{
        width: 269.5%;
        height: 60vh;
        margin-top: -70px;
    }
    .footer-logo img{
        width: 150px;
        margin-left: 17px;
        margin-top: 13px;
    }
    .footer-logo{
        margin-top: 0px;
        width: 170px;
        height: 170px;
    }
    .footer-links{
        font-size: 16px;
        gap: 80px;
        margin-left: -30px;
    }
    .footer-icon-container img{
        width: 20px;
    }
    .footer-icon-container{
        border-radius: 25px;
        margin-top: 0px;
    }
    .footer-copyright hr{
        width: 45%;
        border: none;
        border-radius: 10px;
        height: 1px;
    }
    .footer-copyright{
        font-size: 15px;
        margin-top: -10px;
    }
}