.login{
   width: 100%;
   height: 120vh;
   background: #a3f2f7;
   padding-top: 100px;
}
.login-container{
   width: 580px;
   height: 470px;
   background: white;
   margin: auto;
   border-radius: 10px 10px 75px 75px;
   padding: 40px 60px;
}
.login-container h1{
   margin: 20px 0px;
}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.login-fields input{
    height: 42px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 0px 0px 25px 25px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.login-container button{
    width: 150px;
    height: 42px;
    color: white;
    background: #ff4141;
    border-radius: 25px;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 200px;
}
.login-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-login span{
    color: #f30707;
    font-weight: 600;
}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}



@media (max-width:1050px){
    .login{
        width: 137%;
        height: 80vh;
    }
    .login-container{
        width: 700px;
        margin-left: 300px;
        margin-top: 70px;
        height: 380px;
    }
    .login-container h1{
        font-size: 32px;
        margin-top: -8px;
        margin-left: -15px;
     }
     .login-fields input{
        height: 30px;
        width: 680px;
        background-color: whitesmoke;
        padding-left: 10px;
        border-radius: 20px;
        font-size: 18px;
        margin-top: -10px;
    }
    .login-container button{
        width: 200px;
        height: 36px;
        margin-left: 400px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 40px;
    }
    .login-login{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }
    .login-agree{
        margin-top: 10px;
    }
    .login-agree p{
        margin-left: -15px;
        font-size: 16px;
        font-weight: 500;
    }
    .login-agree input{
        width: 6px;
        border-radius: 20px;
    }
}


@media (max-width:900px){
    .login{
        width: 137.9%;
        height: 67vh;
    }
    .login-container{
        width: 540px;
        margin-left: 280px;
        margin-top: 30px;
        height: 320px;
    }
    .login-container h1{
        font-size: 30px;
        margin-top: -8px;
        margin-left: -15px;
     }
     .login-fields input{
        height: 22px;
        width: 500px;
        background-color: whitesmoke;
        padding-left: 10px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: -10px;
    }
    .login-container button{
        width: 150px;
        height: 28px;
        margin-left: 330px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 40px;
    }
    .login-login{
        margin-top: 20px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 10px;
    }
    .login-agree{
        margin-top: 10px;
    }
    .login-agree p{
        margin-left: -15px;
        font-size: 13px;
        font-weight: 500;
    }
    .login-agree input{
        width: 6px;
        border-radius: 20px;
    }
}


@media (max-width:750px){
    .login{
        width: 166%;
        height: 60vh;
    }
    .login-container{
        width: 480px;
        margin-left: 320px;
        margin-top: 29px;
        height: 280px;
    }
    .login-container h1{
        font-size: 27px;
        margin-top: -8px;
        margin-left: -15px;
     }
     .login-fields input{
        height: 19px;
        width: 460px;
        background-color: whitesmoke;
        padding-left: 10px;
        border-radius: 20px;
        font-size: 11px;
        margin-top: -10px;
    }
    .login-container button{
        width: 110px;
        height: 24px;
        margin-left: 330px;
        font-size: 11px;
        font-weight: 500;
        border-radius: 40px;
    }
    .login-login{
        margin-top: 20px;
        font-size: 11px;
        font-weight: 500;
        margin-top: 10px;
    }
    .login-agree{
        margin-top: 10px;
    }
    .login-agree p{
        margin-left: -15px;
        font-size: 11px;
        font-weight: 500;
    }
    .login-agree input{
        width: 6px;
        border-radius: 20px;
    }
}


@media (max-width:412px){
    .login{
        width: 269.4%;
        height: 55vh;
    }
    .login-container{
        width: 330px;
        margin-left: 350px;
        margin-top: 10px;
        height: 220px;
        border-radius: 70px;
    }
    .login-container h1{
        font-size: 22px;
        margin-top: -18px;
        margin-left: -29px;
     }
     .login-fields input{
        height: 11px;
        width: 320px;
        background-color: whitesmoke;
        padding-left: 10px;
        border-radius: 20px;
        font-size: 8px;
        margin-top: -10px;
    }
    .login-container button{
        width: 80px;
        height: 18px;
        margin-left: 230px;
        font-size: 8px;
        font-weight: 500;
        border-radius: 40px;
    }
    .login-login{
        margin-top: 20px;
        font-size: 8px;
        font-weight: 500;
        margin-top: 10px;
    }
    .login-agree{
        margin-top: 10px;
    }
    .login-agree p{
        margin-left: -15px;
        font-size: 11px;
        font-weight: 500;
    }
    .login-agree input{
        width: 6px;
        border-radius: 20px;
    }
}