.shopcategory-banner{
    display: flex;
    margin: 30px auto;
    width: 93%;
}
.shopcategory-indexSort{
   display: flex;
   margin: 0px 70px;
   justify-content: space-between;
   align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #cbc9c9;
    color: #131313;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width:1050px){
    .shopcategory-banner{
        width: 137%;
        height: 230px;
    }
    .shopcategory-indexSort{
        font-size: 18px;
        margin-left: 50px;
        margin-top: -20px;
        padding-top: 20px;
     }
     .shopcategory-sort{
        width: 90px;
        height: 20px;
        gap: 10px;
    }
    .shopcategory-sort img{
        width: 15px;
    }
    .shopcategory-products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 80px;
        padding-top: 50px;
        gap: 40px;
        width: 130%;
    }
    .shopcategory-loadmore{
        margin-top: 80px;
        margin-left: 600px;
    }
   
}


@media (max-width:900px){
    .shopcategory-banner{
        width: 137%;
        height: 230px;
    }
    .shopcategory-indexSort{
        font-size: 16px;
        margin-left: 50px;
        margin-top: -20px;
        padding-top: 20px;
     }
     .shopcategory-sort{
        width: 80px;
        height: 20px;
        gap: 10px;
    }
    .shopcategory-sort img{
        width: 13px;
    }
    .shopcategory-products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 30px;
        padding-top: 50px;
        gap: 30px;
        width: 130%;
    }
    .shopcategory-loadmore{
        margin-top: 80px;
        margin-left: 500px;
    }
   
}


@media (max-width:750px){
    .shopcategory-banner{
        width: 165.2%;
        height: 200px;
    }
    .shopcategory-indexSort{
        font-size: 13px;
        margin-left: 50px;
        margin-top: -20px;
        padding-top: 20px;
     }
     .shopcategory-sort{
        width: 60px;
        height: 17px;
        gap: 10px;
    }
    .shopcategory-sort img{
        width: 10px;
    }
    .shopcategory-products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 70px;
        padding-top: 50px;
        gap: 30px;
        width: 130%;
    }
    .shopcategory-loadmore{
        margin-top: 80px;
        margin-left: 500px;
    }
   
}


@media (max-width:412px){
    .shopcategory-banner{
        width: 269%;
        height: 200px;
    }
    .shopcategory-indexSort{
        font-size: 13px;
        margin-left: 50px;
        margin-top: -20px;
        padding-top: 20px;
        width: 260%;
     }
     .shopcategory-sort{
        width: 60px;
        height: 17px;
        gap: 10px;
    }
    .shopcategory-sort img{
        width: 10px;
    }
    .shopcategory-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 220px;
        padding-top: 80px;
        row-gap: 100px;
        column-gap: 150px;
        width: 130%;
    }
    .shopcategory-loadmore{
        margin-top: 80px;
        margin-left: 440px;
    }
   
}