.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}


@media (max-width:1050px){
    .relatedproducts{
        padding-top: 200px;
        height: 55vh;
        width: 134%;
    }
    .relatedproducts h1 {
        margin-top: -160px;
        font-size: 44px;
        font-weight: 600;
    }
    .relatedproducts hr{
        width: 200px;
        height: 6px;
        border-radius: 10px;
        background: #252525;
    }
    .relatedproducts-item{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 80px;
       margin-left: 40px;
    }

}



@media (max-width:900px){
    .relatedproducts{
        padding-top: 200px;
        height: 55vh;
        width: 137%;
    }
    .relatedproducts h1 {
        margin-top: -160px;
        font-size: 41px;
        font-weight: 600;
    }
    .relatedproducts hr{
        width: 200px;
        height: 5px;
        border-radius: 10px;
        background: #252525;
    }
    .relatedproducts-item{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 45px;
       margin-left: 20px;
    }

}


@media (max-width:750px){
    .relatedproducts{
        padding-top: 180px;
        height: 45vh;
        width: 165%;
    }
    .relatedproducts h1 {
        margin-top: -160px;
        font-size: 38px;
        font-weight: 600;
    }
    .relatedproducts hr{
        width: 200px;
        height: 4px;
        border-radius: 10px;
        background: #252525;
    }
    .relatedproducts-item{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 40px;
       margin-left: 20px;
    }
}



@media (max-width:412px){
    .relatedproducts{
        padding-top: 180px;
        height: 107vh;
        width: 165%;
    }
    .relatedproducts h1 {
        margin-top: -160px;
        margin-left: 350px;
        font-size: 38px;
        font-weight: 600;
    }
    .relatedproducts hr{
        width: 200px;
        margin-left: 350px;
        height: 3px;
        border-radius: 10px;
        background: #252525;
    }
    .relatedproducts-item{
       display: grid;
       grid-template-columns: 1fr 1fr;
       row-gap: 100px;
       column-gap: 150px;
       margin-left: 390px;
    }

}