.newsletter{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #8ef9f9 0%, #e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    color: #454545;
    padding-top: 70px;
    font-size: 55px;
    font-weight: 600;
}
.newsletter p{
    color: #454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #ea1818;
    font-family: poppins;
    font-size: 16px;
}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


@media (max-width:1050px){
    .newsletter{
        width: 137%;
        height: 50vh;
        margin-top: -100px;
    }
    .newsletter h1{
        font-size: 60px;
        font-weight: 600;
        margin-top: -150px;
    }
    .newsletter p{
        font-size: 30px;
    }
    .newsletter div{
        width: 730px;
        height: 50px;
        margin-top: 20px;
    }
    .newsletter input{
        font-size: 20px;
    }
    .newsletter div button{
        font-size: 10px;
        height: 58px;
        width: 160px;
    }
}


@media (max-width:900px){
    .newsletter{
        width: 137.2%;
        height: 50vh;
        margin-top: -100px;
    }
    .newsletter h1{
        font-size: 50px;
        font-weight: 600;
        margin-top: -150px;
    }
    .newsletter p{
        font-size: 23px;
    }
    .newsletter div{
        width: 730px;
        height: 50px;
        margin-top: 20px;
    }
    .newsletter input{
        font-size: 17px;
    }
    .newsletter div button{
        font-size: 10px;
        height: 58px;
        width: 160px;
    }
}


@media (max-width:750px){
    .newsletter{
        width: 165.3%;
        height: 45vh;
        margin-top: -100px;
    }
    .newsletter h1{
        font-size: 43px;
        font-weight: 600;
        margin-top: -30px;
    }
    .newsletter p{
        font-size: 20px;
    }
    .newsletter div{
        width: 600px;
        height: 40px;
        margin-top: 20px;
    }
    .newsletter input{
        font-size: 14px;
    }
    .newsletter div button{
        font-size: 10px;
        height: 40px;
        width: 160px;
    }
}


@media (max-width:412px){
    .newsletter{
        width: 268.9%;
        height: 45vh;
        margin-top: -100px;
    }
    .newsletter h1{
        font-size: 40px;
        font-weight: 600;
        margin-top: -30px;
    }
    .newsletter p{
        font-size: 18px;
    }
    .newsletter div{
        width: 600px;
        height: 40px;
        margin-top: 20px;
    }
    .newsletter input{
        font-size: 14px;
    }
    .newsletter div button{
        font-size: 10px;
        height: 40px;
        width: 160px;
    }
}