.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-top: 450px;
}
.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

@media (max-width:1050px){
    .popular{
        width: 137%;
        height: 60vh;
    }
    .popular h1 {
        margin-top: -160px;
        font-size: 55px;
        font-weight: 600;
    }
    .popular hr{
        width: 350px;
        height: 6px;
        border-radius: 10px;
        background: #252525;
    }
    .popular-item{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 80px;
       margin-top: 100px;
       margin-left: 0px;
    }
}


@media (max-width:900px){
    .popular{
        width: 137%;
        height: 60vh;
    }
    .popular h1 {
        margin-top: -160px;
        font-size: 47px;
        font-weight: 600;
    }
    .popular hr{
        width: 350px;
        height: 5px;
        border-radius: 10px;
        background: #252525;
    }
    .popular-item{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 40px;
       margin-top: 100px;
       margin-left: 40px;
    }
}


@media (max-width:750px){
    .popular{
        width: 165.3%;
        height: 60vh;
    }
    .popular h1 {
        margin-top: -160px;
        font-size: 47px;
        font-weight: 600;
    }
    .popular hr{
        width: 340px;
        height: 4px;
        border-radius: 10px;
        background: #252525;
    }
    .popular-item{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 40px;
       margin-top: 100px;
    }
}



@media (max-width:412px){
    .popular{
        width: 224%;
        height: 100vh;
    }
    .popular h1 {
        margin-top: -430px;
        font-size: 40px;
        font-weight: 600;
        margin-left: 200px;
    }
    .popular hr{
        width: 240px;
        height: 3px;
        border-radius: 10px;
        margin-left: 200px;
        background: #252525;
    }
    .popular-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 100px;
        column-gap: 200px;
       margin-top: 100px;
       margin-left: 160px;
    }
}