.item{
  width: 250px;
}
.item img{
    width: 270px;
    border-radius: 120px 120px 120px 120px;
}
.item p{
    width: 270px;
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #fa0707;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #2b2a2a;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}


@media (max-width:1050px){
    .item img{
        width: 300px;
    }
    .item p{
        font-size: 15px;
    }
}



@media (max-width:900px){
    .item img{
        width: 230px;
    }
}


@media (max-width:412px){
    .item img{
        width: 300px;
        border-radius: 50px 0px;
    }
    .item p{
        font-size: 18px;
        width: 300px;
    }
    .item-price-new{
        font-size: 15px;
    }
    .item-price-old{
        font-size: 15px;
        text-decoration: line-through;
    }
}